<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand titulo__navbar" href="#"><img src="../../assets/img/logo.svg"></a>
    <button class="navbar-toggler font-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fonte__menu" aria-current="page" href="#">PERSONAGENS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fonte__menu" href="#">CURIOSIDADES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fonte__menu" href="#">SOBRE NÓS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
